.add__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem 4rem;
  width: 50vw;
}

.add__form__content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  /* padding: 2rem; */
}

.add__form__content__input {
  padding: 1rem 0.5rem;
  border-radius: 0.2rem;
  border: 1.5px solid #c1c1c1;
  letter-spacing: 0.01rem;
  /* cursor: pointer; */
}

.add__form__content__input:focus {
  outline: none;
}

.add__form__product__category__price {
  display: flex;
  gap: 4rem;
  cursor: pointer;
}

.add__form__product__category__select {
  padding: 1rem 0.5rem;
  border: 1.5px solid #c1c1c1;
  cursor: pointer;
}

.add__form__product__category__select:focus {
  outline: none;
}
.add__form__button {
  border: none;
  padding: 0.8rem 2.4rem;
  background-color: #d6981c;
  border-radius: 0.5rem;
  width: fit-content;
  cursor: pointer;
}

.add_form__img__upload img {
  width: 120px;
  cursor: pointer;
}
