.navbar {
  background: linear-gradient(to right, #ffffff, #f7d146, #ffffff);
  display: flex;
  justify-content: space-between;
  padding: 1rem 2.2rem;
}

.navbar__logo {
  color: #d6981c;
  align-self: center;
  font-weight: 700;
}

.navbar__profileIcon {
  width: 4rem;
}
